{% extends "base.html" %}

{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
<h1>로그인 됐다</h1>
{{user}}
<a href="{% url "accounts:logout" %}">logout</a>
<a href="{% url "accounts:profile" user.username %}">내 프로필</a>
<a href="{% url "inbox" %}">채팅</a>


{% else %}
<div class='index-body'>
  <div class="index-left">
    <div class="slideshow-container">
      <div class="mySlides">
          <img class="index-pic" src="{% static "index1.PNG" %}" >
          
      </div>
  
      <div class="mySlides">
          <img class="index-pic" src="{% static "index2.PNG" %}" >
          
      </div>
  
      <!-- 여기에 더 많은 이미지를 추가할 수 있습니다. -->
  </div>
  </div>
  <div class='index-right'>
<div class="login-card">
  
  <img src="{% static 'logo.png' %}" alt="1" class="index-logo-img">
  <form action="{% url "accounts:login" %}" method='POST'>
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {% if field.label == 'Username' %}
      <input
        class="form-control log-in-form"
        
        placeholder="전화번호, 사용자 이름 또는 이메일"
        name="{{ field.name }}"
      />
      {% else %}
      <input
        class="form-control log-in-form"
        placeholder=" 비밀번호 "
        name="{{ field.name }}"
      />
      
      {% endif %}
      
    </div>
    {% endfor %}
    <input type="submit" value = '로그인' class='btn btn-primary signup-btn'>
  </form>
</div>
<div class="signup-card">
  계정이 없으신가요?
  <span><a href="{% url "accounts:signup" %}">가입하기</a></span>
</div>
</div>
</div>
<script>
  let slideIndex = 0;
showSlides();

function showSlides() {
    let slides = document.getElementsByClassName("mySlides");
    for (let i = 0; i < slides.length; i++) {
        slides[i].classList.remove('active');
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1;
    }
    slides[slideIndex - 1].classList.add('active');
    slides[slideIndex - 1].style.display = "block";
    
    setTimeout(showSlides, 5000); // 애니메이션 간격을 5초로 설정
}
</script>
{% endif %}

{% endblock content %}


 
 
 
 