{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="custom-navbar">

  <a href="{% url "accounts:index" %}">
  <img src="{% static 'logo.png' %}" alt="1" class="navbar-logo"></a>
  {% if request.user.is_authenticated %}
  <a class="btn btn-primary nav-btn" href="{% url "accounts:logout" %}">로그아웃</a>

  {% else  %}
 <div class="log-sin-nav">
    <a class="btn btn-primary nav-btn" href="{% url "accounts:login" %}">로그인</a>
    <div>
      <a href="{% url "accounts:signup" %}">가입하기</a>
    </div>
  </div>

 {% endif %}
</div>
<div class="except-nav">
<header>
  <div class='profile-image'><img src="" class ='profile' alt=""></div>
  <div class="except-image">
    <div>
      <span>{{ person }}</span>
      {% if request.user != person %}
      <div class='follow-message'>
        <!--팔로우 기능-->
        <form action="{% url "accounts:follow" person.username %}" method="POST">
          {% csrf_token %}
          {% if request.user not in followers %}
            <input type="submit" value="FOLLOW" class="btn btn-light">
          {% else %}
            <input type="submit" value="FOLLOW" class="btn btn-primary">
          {% endif %}

        </form>
        <!--DM 기능-->
        <a href="{% url "directs" person.username %}"><button type="button" class="btn btn-light grey-btn">Message</button></a>
      </div>
      {% else %}

      {% endif %}
    </div>
        

    <div>

      
      {% comment %} <span >followers {{ profile.follow_me.all.count }}</span> {% endcomment %}
      {% comment %} <a href="" onclick="openModal()">followers {{ profile.follow_me.all.count }}</a> {% endcomment %}

      <a href="javascript:void(0)" onclick="openModal()">followers {{ profile.follow_me.all.count }}</a>
      <a href="javascript:void(0)" onclick="openfModal()">following {{  profile.i_follow.all.count }}</a>

      <span>following {{ profile.i_follow.all.count }}</span>

      
      
      <!-- 수 / 목록  -->
      <span>followers {{ followers.count }}</span>
      <p>host를 팔로우한사람 명단</p>
      {% for id in followers %}               <!--host를 팔로우한 Follow테이블 데이터들에서 -->
        <p>{{ id.following }}</p>             <!--following값이 host를 팔로우한 사람들-->
      {% endfor %}
      <br>
      <span>following {{ followings.count }}</span>
      <p>host가 팔로잉한사람 명단</p>
      {% for id in followings %}
        <p>{{ id.follower }}</p>
      {% endfor %}


    </div>
    
  </div>
</header>
<div class="header-bottom">
  게시물
</div>



  <div class="pics">
    

    
  {% for post in posts %}
  <!-- 이미지를 클릭하면 해당 모달 팝업 창 열기 -->
  <img src="{{ post.content.url }}" alt="" class="image" onclick="openImgModal('{{ post.content.url }}', '{{ forloop.counter }}')">

  <!-- 고유한 id를 가진 모달 팝업 창 -->
  <div id="imgModal{{ forloop.counter }}" class="modal">
    <div class="img-modal-content">
      <!-- 모달 닫기 버튼 -->
      {% comment %} <span class="close" onclick="closeImgModal('{{ forloop.counter }}')"></span> {% endcomment %}
      
      <!-- 이미지 표시 -->
      <div class="modal-img-text">
      <img src="{{ post.content.url }}" alt="" class="image">
      <div>
        {{profile.username}}
      <p>{{post.text}}</p>
      {{comment_form}}
    </div>
    </div>
    </div>
  </div>
{% endfor %}
 
 
  


   
  {% for post in person.post_set.all  %}
  
  <img src="{{ post.content.url }}" alt="" class="image">
  {% endfor %} 


  </div>
  </div>
<!--내 게시글이면 구현 안됨-->
{% if request.user != person %}
<a href="{% url "posts:create" %}">게시글 올리기</a>
{% comment %} <a href="{% url "accounts:create" user%}">프로필 올리기</a> {% endcomment %}
{% else %}
니 프로필 아니다
{% endif %}
{% if request.user.is_authenticated %}
{% else %}
<div class="footer-black">
  <div class="white">
  <div class="profile-footer-logo">
    <img src="{% static 'simple_logo.png' %}" alt="logo" class="profile-footer-logo-img">
  </div>
  <div class='profile-footer-text'>
    <div>Instagram에 로그인</div>
    <div>로그인하여 친구들의 사진과 동영상을 확인하고 회원님이 좋아할 만한 계정을 찾아보세요.</div>
  </div>
  <div class='profile-footer-button'>
    <a href="{% url "accounts:login" %}" class='btn btn-primary'>로그인</a>
    <div><a href="{% url "accounts:signup" %}">가입하기</a></div>
  </div>
</div>
</div>
{% endif %}

{% comment %} follower모달 {% endcomment %}
<div id="myModal" class="modal">
  <div class="modal-content">
    {% comment %} <span class="close" onclick="closeModal">x</span> {% endcomment %}
    {% for follower in followers  %}
      {{follower}}
      <hr>
      {% endfor %}
  </div>
</div>
<div id="myfModal" class="modal">
  <div class="modal-content">
    
    {% for follow in followings  %}
      {{follow}}
      <hr>
      {% endfor %}
  </div>
</div>


<script>
  // 모달 열기
  function openModal() {
    document.getElementById('myModal').style.display = 'block';
  }

  // 모달 닫기
  function closeModal() {
    document.getElementById('myModal').style.display = 'none';
  }
  // 모달 외부를 클릭하면 모달 닫기
  window.onclick = function(event) {
    if (event.target === document.getElementById('myModal')) {
      closeModal();
    }
  }
  
  function openfModal() {
    document.getElementById('myfModal').style.display = 'block';
  }

  // 모달 닫기
  function closefModal() {
    document.getElementById('myfModal').style.display = 'none';
  }
  // 모달 외부를 클릭하면 모달 닫기
  window.onclick = function(event) {
    if (event.target === document.getElementById('myfModal')) {
      closefModal();
    }
  }
  
function openImgModal(imgUrl, modalNumber) {
  // 이미지 URL을 모달에 설정
  const imgModal = document.getElementById(`imgModal${modalNumber}`);
  const modalImage = imgModal.querySelector('img');
  modalImage.src = imgUrl;

  imgModal.style.display = 'block';

  // 모달 외부를 클릭하면 모달 닫기
  imgModal.onclick = function(event) {
    if (event.target === imgModal) {
      closeImgModal(modalNumber);
    }
  };
}

// 모달 닫기
 function closeImgModal(modalNumber) {
  const imgModal = document.getElementById(`imgModal${modalNumber}`);
  imgModal.style.display = 'none';
} 
</script>

{% endblock content %}

